html {
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  /* This is a comment */
}

body {
  padding: 20px 70px;
}

h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 100px;
  text-align: center;
  color: black;
  font-weight: bold;
  border-bottom: 3px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 24px;
  border-bottom: 3px;
  text-align: center;
  color: #767676;
}

.instructions {
  color: #767676;
}

.outer-div {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

#instructBox {
  margin: auto;
  margin-bottom: 10px;
  width: 450px;
  text-align: left;
}

#inputFrame {
  height: 150px;
}

#modeSelect {
  height: 80px;
}

#inputBox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 700px;
}

.inputTime {
  text-align: center;
  width: 80px;
  height: 40px;
  font-size: 30pt;
}

#time {
  font-size: 130px;
  margin-bottom: 20px;
}

#timeEnd {
  margin-left: auto;
  font-size: 60px;
}

#allProgress {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 605px;
  height: 12px;
  background-color: grey;
}

#curProgress {
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: #5cb1f2;
}

input.button {
  width: 100px;
  height: 70px;
  font-size: 30px;
  border: none;
  color: white;
  text-align: center;
  background: #AAA;
}

.button:hover {
  opacity: 0.70;
  cursor: pointer;
}

textarea {
  width: 600px;
  padding: 0.5rem;
  font-size: 24px;
  border: 1px solid #aaa;
  border-radius: 3px;
  min-height: 320px;
  margin: 20px;
  resize: vertical;
}

#startButton {
  width: 120px;
  height: 46px;
  padding-top: 9px;
}

#stopButton {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 420px;
  height: 60px;
}

#stopWatch {
  margin-bottom: 20px;
  width: 193px;
  height: 35px;
  font-size: 20px;
  background: #515151;
}

#countDown {
  margin-bottom: 20px;
  width: 193px;
  height: 35px;
  font-size: 20px;
}

#modeSelect {
  height: 40px;
}



#textSize {
  height: 42px;
}

#textPlus {
  width: 40px;
  height: 40px;
}

#textMinus {
  width: 40px;
  height: 40px;
}